$dark-blue: #211951;
$light-purple: #836FFF;
$aqua: #15F5BA;
$light-grey: #F0F3FF;

$light-font: white;
$dark-font: $dark-blue;

$grey-1: #f0f0f0;
$grey-2: #dfdfdf;
$grey-3: #9fa4af;
$grey-4: #a7a7a7;
$grey-5: #828285;
$grey-6: #6b6b6b;
$grey-7: #474747;

$radius: .4rem;
